[Unit]
Description=Monitor OpenMailStack Rspamd functional health

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min
AccuracySec=10s
Persistent=true

[Install]
WantedBy=timers.target
